:host {
    flex: 1;
    background-color: black;
    border: 2px solid #1488e8;
    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius: 25px;
    height: 20px;
    z-index: 1;
}

:host:hover {
    background-color: gray;
}

.choice_a {
    display: none;
    z-index: 0;
}

.choice_a b {
    color: orange;
}