.wwtbam_image {
    margin-bottom: 20px;
}

.wwtbam_image img {
    width: 400px;
}

.wwtbam_title_container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wwtbam_top {
    display: flex;
}

.wwtbam_logo {
    flex: 3;
    margin: 0 auto;
}