<div class = "overlay" #overlay>
</div>

<div class = "wwtbam_stats">
  <div class = "wwtbam_top">
      <div class = "lifelines">
        <app-fiftylifeline></app-fiftylifeline>
        <app-phonelifeline></app-phonelifeline>
        <app-audiencelifeline></app-audiencelifeline>
        <app-ddiplifeline *ngIf = "this.progress > 4"></app-ddiplifeline>
        <br>
        <br>
        <app-cashwon [winCash] = "this.winCash"></app-cashwon>
      </div>
      <div class = "moneytree">
        <button id = "walkaway" (click) = "walkAway()">WALK AWAY</button>
        <app-moneytree [currentValue] = "progress"></app-moneytree>
      </div>
  </div>
</div>

<div class = "wwtbam_game">
  <div class = "question_choice">
    <app-questions [title] = "question"></app-questions>
  
    <div class = "choice_row top">
      <app-ans [letter] = "letters[0]" [choice] = "answers[0]" [correct] = "answers[0] == answers[correct]"></app-ans>
      <div style = "width:50px; background-color: #1488e8; height: 3px;"></div>
      <app-ans [letter] = "letters[1]" [choice] = "answers[1]" [correct] = "answers[1] == answers[correct]"></app-ans>
    </div>
    <div class = "choice_row bottom">
      <app-ans [letter] = "letters[2]" [choice] = "answers[2]" [correct] = "answers[2] == answers[correct]"></app-ans>
      <div style = "width:50px; background-color: #1488e8; height: 3px;"></div>
      <app-ans [letter] = "letters[3]" [choice] = "answers[3]" [correct] = "answers[3] == answers[correct]"></app-ans>
    </div>
  </div>
</div>