:host {
    width: 100%;
}

.overlay {
    background-color: black;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.wwtbam_stats {
    z-index: 1;
    position: relative;
}

.choice_row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#walkaway {
    color: white;
    background-color: black;
    border: 3px solid #1488e8;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 7px;
}

.lifelines {
    flex: 1;
    text-align: center;
}

.question_choice {
    width: 85%;
    position: absolute;
    bottom: 10;
}

#thousand_milestone, #thirtytwo_milestone {
    display: none;
    color: orange;
    background-color: navy;
}

.wwtbam_top {
    display: flex;
}

.wwtbam_logo {
    flex: 3;
    margin: 0 auto;
}